[defaults]
inventory          = inventories/dev
roles_path         = roles
host_key_checking  = True
retry_files_enabled = False
stdout_callback    = ansible.builtin.default
result_format      = yaml
callbacks_enabled  = timer, profile_tasks

[privilege_escalation]
become       = False
become_method = sudo
become_user  = root
