# Gerado pelo Ansible - nao editar manualmente
ORACLEASM_ENABLED=true
ORACLEASM_UID={{ asm_disk_owner }}
ORACLEASM_GID={{ asm_disk_group }}
ORACLEASM_SCANBOOT=true
ORACLEASM_SCANORDER=""
ORACLEASM_SCANEXCLUDE=""
ORACLEASM_SCAN_DIRECTORIES=""
ORACLEASM_USE_LOGICAL_BLOCK_SIZE="false"
